.home {
  position: absolute;
  right: 40vw;
  bottom: 30vh;
  width: 50vw;
  height: 30vh;
  font-size: 40px;
  color: #c6f0f9;
  text-align: right;
}

.photo {
  position: absolute;
  bottom: 55vh;
  right: 20vw;
  border: #c6f0f9 solid 4px;
  width: 30vh;
  height: 30vh;
  border-radius: 15vh;
}

.homePhoto {
  bottom: 40vh;
}
